.Carousel-root-1{
    background-color: #EEF1F7;
    width: 100%;

    .CarouselItem{
        width: 100%;
        margin: auto;
    }
    .innerCarousel{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        min-width: 74%;
        max-width: 1200px;
        padding: 0 0 0 50px;
        margin: auto;
    }
    .descriptionCarousel{
        width: 80%;
        padding: 0;
        margin: auto ;

        h1 {
            font-size: 5rem;
            font-weight: bold;
            color: #30b874;
            margin: 0;
        }
        p {
            font-size: 1rem;
            font-weight: normal;
        }
        a {
            color: #30b874;
        }
    }
}