*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: #fff !important;
    color: black !important;
}
.menuStyle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}