body {
    #main_central_element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
    }
  }
  
  .form_icons {
    margin-left: 200;
    margin-top: 25;
  }